// Color palette
$black: #000000;
$black-disabled: rgba(0, 0, 0, 0.4);
$red: red;
$white: #fff;
$light-gray: #ccc;
$gray: #eee;

// Gutters
$gutter: 10px;
$gutter-mid: 15px;
$gutter-large: 20px;
$gutter-extra-large: 40px;

// Mobile Queries
$iphone5: 320px;
$iphone-plus: 415px;
$tablet: 768px;
$desktop-small: 1024px;

@mixin mobile-only {
    @media (max-width: $iphone-plus) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: $tablet) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $desktop-small) {
        @content;
    }
}

h1.section-title {
    font-weight: 500;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.28571429em;
    color: rgba(0, 0, 0, 0.87);
}
