h1.section-title {
  font-weight: 500;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.28571429em;
  color: rgba(0, 0, 0, 0.87); }

.RecentUploadsContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 20px; }

.RecentUploads .section-title {
  margin: 40px 0 20px; }
