@import '../../styles/main.scss';

.ProductUpload {
    &__Message {
        &--Hidden {
            display: none;
        }
    }
    &__Form {
        &__Container {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
        }
        &__Description,
        &__Categories {
            margin-bottom: $gutter-mid;
        }
        &__Description {
            width: 49%;
        }
        &__Categories {
            display: flex;
            flex-direction: column;
            width: 49%;
            margin: 0 0 $gutter-mid;
        }
        @include mobile-only {
            &__Description,
            &__Categories {
                width: 100%;
            }
        }
    }
}
