@import '../styles/main.scss';

.Navbar {
    &__Menu {
        display: flex;
        padding-top: 20px;
        max-width: 1200px;
        margin: 0 auto;

        &--Left,
        &--Right,
        .BrandTitle {
            color: #000;
            text-transform: uppercase;
            font-family: Montserrat, sans-serif;
        }

        &--Left,
        &--Right {
            flex: 33%;
            display: flex;
            justify-content: space-between;
            font-weight: 400;
        }

        &__Item {
            &:hover {
                text-decoration: underline;
                color: black;
            }
        }

        &--Desktop {
            .submenu {
                display: flex;
                justify-content: center;
                flex-direction: column;
                position: relative;
                .menuToggle {
                    cursor: pointer;
                }
            }
            #menu_content {
                height: 0;
                visibility: hidden;
                transition: height 0.5s cubic-bezier(0.42, 0, 0.2, 1);
                background: $white;
                border: 1px solid $light-gray;
                box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
                position: absolute;
                top: 20px;
                left: -60px;
                z-index: 999999999;
                &.block {
                    height: 200px;
                    visibility: visible;
                    width: 200px;
                    .item {
                        padding: 10px;
                        border-bottom: 1px solid $light-gray;
                        font-weight: 300;
                        font-family: Montserrat, sans-serif;
                    }
                }
            }
        }

        &--Mobile {
            position: relative;
            padding: $gutter-large $gutter 0;

            .menu-hamburger {
                position: absolute;
                display: block;
                font-size: 20px;
                z-index: 9999;
                display: flex;
                flex-direction: column;
                .icon {
                    text-align: left;
                    cursor: pointer;
                }
                .main-menu {
                    background: $white;
                    border: 1px solid $light-gray;
                    width: auto;
                    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
                    height: 0;
                    visibility: hidden;
                    transition: all 0s cubic-bezier(0.42, 0, 0.2, 1);
                    &.block {
                        height: auto;
                        visibility: visible;
                    }
                    .item {
                        padding: 10px;
                        border-bottom: 1px solid $gray;
                        font-weight: 300;
                        font-family: Montserrat, sans-serif;
                    }
                    .submenu {
                        display: flex;
                        justify-content: center;
                        flex-direction: column;

                        .menuToggle {
                            cursor: pointer;
                        }
                    }
                    #menu_content {
                        height: 0;
                        visibility: hidden;
                        transition: height 0.5s cubic-bezier(0.42, 0, 0.2, 1);
                        &.block {
                            height: 200px;
                            visibility: visible;
                            .item {
                                padding: 10px;
                            }
                        }
                    }
                }
            }
        }
    }

    .BrandTitle {
        letter-spacing: 1.5px;
        text-align: center;
        font-weight: 500;
        font-size: 18px;
        margin: 0 auto;
        padding-left: $gutter-large;
        z-index: 999999999;
        color: $black;
        @include desktop {
            font-size: 26px;
            flex: 66%;
        }
    }
}

.Header {
    margin-bottom: $gutter-large;
    @include desktop {
        width: auto;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }
}
